body {
    margin: auto;
    height: 100%;

    .excersise-01 {
        width: 100%;
        height: 250px;
        background-color: grey;

        text-align: center;

    }

    .excersise-02 {
        width: 100%;
        background-color: rgb(173, 46, 46);
        height: 250px;
        text-align: center;
    }
}