html {
    box-sizing: border-box;
}

*{
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;

    hr {
        border: 1px solid white;
    }

    /*
    #mockup {
        width: 442px;
        height: 312px;
        background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-verou-1-26/master/1.The-Field/4.HTML-CSS/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/simple/interface.10.png?token=ARLOQ3YWRRPDTPN3DIYVGNS7VJKEG);
    
        position: absolute;
        top: 0;
        left: 0;
    
        opacity: 0.5;
        z-index: 10;
        pointer-events: none;
    
    }
    */

    .container {
        width: calc(442px);
        height: calc(312px);
        max-width: 100%;
        max-height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0px;
        
        position: absolute;
        
        top: 0;
        left: 0;
        
        font-family: 'Rubik', sans-serif;

        .header {
            
            background-color: #e7ecf4;
            width: 94%;
            height: 23%;
            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            vertical-align: middle;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            font-family: 'Rubik', sans-serif;

            .title {
                width: 345px;
                height: auto;

                text-align: left;
                margin: auto;
                
            }

        }
        .text {
            width: 94%;
            height: 68%;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            vertical-align: middle;
            background-color: #e7ecf4;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            .sub {
                
                width: 100%;
                height: 32%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                


                .mark {
                        
                    width: 46px;
                    height: 1fr;

                    text-align: right;
                    margin: auto;
                    

                }
                .input {
                    width: 350px;
                    height: auto;

                    text-align: left;
                    margin: auto;
                        
                        

                }
            

            }
            
        }
    }

}